* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #EEF2CA;
}

.title-img {
    width: 90%;
    height: 400px;
}

.logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 180px;
    right: 1300px;
}

.box-title {
    background-color: black;
    text-align: center;
    color: beige;
    border: 2px solid black;
    margin-top: 0px;
    width: 90%;

}

.nav-link-container {
    position: relative;
    left: 650px;
    top: -430px;

}

.a-link {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: beige;
    background-color:#A9D3AF;
    box-shadow: 2px 2px 2px #5A5D5C;
    border-radius: 2px;

}
.info-container {
    position: relative;
    left: 220px;
    top: 50px;
}
.img-container {
    width: 250;
    height: auto;
    position: relative;
    top: 100px;
    left: 500px
}
.img-hockey-arg {
    width: 250px;
    height: auto;

}

