* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:#D8E67F;
}

/* imgdeBanner */

.title-img {
    width: 90%;
    height: 400px;
}
.img-design {
    width: 300px;
    height: auto;
    margin: 20px;
}

.title-name{
   text-align: center;
   margin-top: 50px;

}

/* logo */

.logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 180px;
    right: 1300px;
}

.logo-img{
    width: 100px ;
    height: auto;
}
.logo-game-rules {
    width: 150px;
    height: auto;
    position: relative;
    left:350px;
    top:-90px;

}

/* titulo y caja */

.box-title {
    background-color: black;
    text-align: center;
    color: beige;
    border: 2px solid black;
    margin-top: 0px;
    width: 90%;

}

/* <!-- barra de nav- home-acerca de-contacto- reglas y informacion --> */

.nav-link-container {
    position: relative;
    left: 650px;
    top: -430px;

}

.a-link {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: beige;
    background-color: #A9D3AF;
    box-shadow: 2px 2px 2px #5A5D5C;
    border-radius: 2px;
    margin-left: 5px;

}

.nav-game-rules {
    position: relative;
    top:-50px;
    margin-left: 50px;
}
.a-game-rules {
    border: 1px solid #EA9154;
    padding: 10px;
    text-decoration: none;
    color:black;
    box-shadow: 1px 1px 1px #5A5D5C;
    border-radius: 3px;
    background-color: #E6CB7F;
    margin: 5px;;
 
    
}

/* <!-- cuerpo contenedor --> */

.info-container {
    position: relative;
    left: 220px;
    top: 50px;
}

.main-table-info-conteiner{
    position: relative;
    left: 300px;
    top: 50px;
    border-collapse: separate;
}
.list-conteiner {
    text-align: justify;
    justify-content: center;
    margin: 150px;
    margin-top: 30px;
 
}
/* <!-- img- info-hockey arg --> */

.img-container {
    width: 250;
    height: auto;
    position: relative;
    top: 100px;
    left: 500px
}

.img-hockey-arg {
    width: 250px;
    height: auto;

}
.img-footer{
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}
.img-games {
    width: 200px;
    margin-top: 60px;
    margin-left: 200px;
}
.derechos-p {
    text-align: justify;
    justify-content: center;
    position: relative;
    top:100px;
    margin-left: 200px;
}/* 
tabla de informacion del juego */
td {
    padding: 4px 32px;
}

th {
    padding: 4px 32px;
    text-align: left;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    position: relative;
    font-family: 'Inter', sans-serif;
}

.date {
    text-align: right;
    padding: 0 32px;
}
.email-number{
    margin-top: 100px;
}
